// COLOR PALETTE
$primary: #cd202c;
$secondary: #555555;
$neutral: #222222;
$light: #f3f3f3;
$highlight: $primary;

// FONT STACKS
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, serif;
$open-sans: 'Open Sans', Helvetica, Arial, sans-serif;

// LENGTHS
$page-width: 100%;
$page-width-fallback: 960px;
$padding: 2em;
$swatch-margin: 2%;

// OTHER
$num-colors: 4;
